{{ define "x-attrs" }}
  <p static={{ .static }} mixed="{{ .mixed }}" dynamic="{{ .dynamic }}">
    Hello
  </p>
{{ end }}

{{  define "test-x-attrs"  }}
  <x-attrs static="static" mixed="foo{{ .class }}bar" dynamic="{{ .class }}" />
{{ end }}

---

{{ define "x-slots" }}
  <header>{{ .slots.header }}</header>
  <rest>{{ .slots.rest }}</rest>
  {{ range .slots }} {{ . }} {{ end }}
  <footer>{{ .slots.footer }}</footer>
{{ end }}

{{ define "test-x-slots"  }}
  <x-slots>
    rest
    <slot name="header"><h1>Title</h1></slot>
    <div>more rest</div>
    <slot name="footer">footer</slot>
  </x-slots>
{{ end }}

---

{{define "x-parent"}}
  <div><x-child text="{{.text}}"></x-child></div>
{{end}}

{{define "x-child"}}
  <i>{{.text}}</i>
{{end}}

{{define "test-nested-components"}}
  <x-parent text="nested text"></x-parent>
{{end}}

---

{{define "x-child-2"}}
  <i>{{.slots.rest}}</i>
{{end}}

{{define "x-parent-2"}}
  <div>{{.slots.rest}}</div>
{{end}}

{{define "test-nested-components-2"}}
  <x-parent-2><x-child-2>nested text</x-child-2></x-parent-2>
{{end}}

---

{{define "multi-slot-component"}}
  <div>{{.slots.header}}</div>
{{end}}

{{define "test-multi-slot"}}
  <multi-slot-component>
    <slot name="header"><h1>First</h1></slot>
    <slot name="footer"><h2>Second</h2></slot>
  </multi-slot-component>
{{end}}

---

{{define "mixed-slots-component"}}
  <header>{{.slots.header}}</header>
  <main>{{.slots.rest}}</main>
{{end}}

{{define "test-mixed-slots"}}
  <mixed-slots-component>
    <slot name="header"><h1>Header</h1></slot>
    Some default content.
  </mixed-slots-component>
{{end}}
