{{ define "[css-reset]" }}
  <style>reset {}</style>
{{ end }}

{{ define "[css-utilities]" }}
  {{ template "[css-reset]" . }}
  <style>utilities {}</style>
{{ end }}


{{ define "<component>"}}
  {{ template "[css-utilities]" . }}
  {{ template "[css-reset]" . }}
  <template>
    the component
  </template>
  <style>
   component css
  </style>
{{ end }}


{{ define "test-assets" }}
  {{ template "[assets]" "test-assets" }}
  <component/>
  assets are rendered depth first and deduplicated, i.e. even though both
  [css-utilities] and [component] require  [css-reset], it is only included
  once and rendered before [css-utilities]
{{ end }}
