<script>
  {{ define "json" }}
    // We parse the templates into a html DOM to process them - but we don't unescape text
    // to not unnecessarily change content during roundtripping.
    // If we were to unescape & escape text nodes as part of that, we'd
    // render this text using html entities rather than as is (because the
    // script tags are outside - use cases are e.g. defining and serving json files from templates).
    {"this-should-be": "valid-json"}
  {{ end }}
</script>

{{ define "svg" }}
  Unlike HTML, inline svgs require all attributes (even those without spaces) to be quoted.
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="black">
    <rect width="100" height="100" fill="white"/>
    <path d="M20,20 H80 V80 H20 Z M35,40 H65 V60 H35 Z"/>
  </svg>
{{ end }}


{{ define "test-roundtripping" }}
  {{ template "json" . }}
  {{ template "svg" . }}
{{ end }}
