{{ define "<x-component>" }}
  <template>
    - the component params can be accessed: {{ .foo }} == foo-value
    - slots have access to the parent scope
    slots.a: {{ .slots.a }}
  </template>
{{ end }}

{{ define "test-slot-scope"  }}
  value of a from callsite scope (outside component/slot): {{ .a }} == value-of-a
  <x-component foo="foo-value">
    <slot name="a">
      value of a from callsite scope (inside slot): {{ .a }} == value-of-a
    </slot>
  </x-component>
{{ end }}
