<noscript name="web-component/test-x-component/nodes-to-html">
  <x-component foo=foo-value bar=bar-value baz=baz-value bam=bam-value a="with parent dot {{.a}}"></x-component>
</noscript>

<noscript name="web-component/test-x-component/compiled">
  {{with $dot := .}}
    {{with (dict "caller" "test-x-component" "slots" (list) ("foo") ("foo-value") ("bar") ("bar-value") ("baz") ("baz-value") ("bam") ("bam-value") ("a") ((print "with parent dot " .a)))}}
      <x-component component=true class=" class" id=id bar=bar-value foo=foo-value>
        with component=true the component tag stays wrapped after inlining.
      Directives applied to the template get applied to the wrapper.
      The `...` directive allows forwarding parameters.
        <div a="{{with $dot}}{{(print "with parent dot " .a)}}{{end}}" bar=bar-value baz=baz-value foo=foo-value></div>
      </x-component>
    {{end}}
  {{end}}
</noscript>

<noscript name="web-component/test-x-component/compiled:<x-component>">
  <x-component component=true ...{{.foo .bar}} class=" class" id=id>
    with component=true the component tag stays wrapped after inlining.
      Directives applied to the template get applied to the wrapper.
      The `...` directive allows forwarding parameters.
    <div ...{{.foo .bar .baz .a}}></div>
  </x-component>
</noscript>

<noscript name="web-component/test-x-component/compiled:[assets]<x-component>">
  <script>
    customElements.define("x-component", class extends HTMLElement {
      connectedCallback() {
       // ...
      }
    })
  </script>
</noscript>

<noscript name="web-component/test-x-component/executed">
  
    
      <x-component component=true class=" class" id=id bar=bar-value foo=foo-value>
        with component=true the component tag stays wrapped after inlining.
      Directives applied to the template get applied to the wrapper.
      The `...` directive allows forwarding parameters.
        <div a="with parent dot value-of-a" bar=bar-value baz=baz-value foo=foo-value></div>
      </x-component>
    
  
</noscript>
