<noscript name="nested/test-nested/nodes-to-html">
  <x-parent foo=foo-value>
    rest slot with value of a at x-parent callsite:
    {{.a}}
  </x-parent>
</noscript>

<noscript name="nested/test-nested/compiled">
  {{with $dot := .}}
    {{with (dict "caller" "test-nested" "slots" (list) ("foo") ("foo-value"))}}
      <parent>
        {{with $dot := .}}
          {{with (dict "caller" "<x-parent>" "slots" (list (dict "name" "a")))}}
            <child>
              slot a of parent inside child:
              {{with $dot}}
                rest slot from callsite in parent:
                {{with $dot}}
                  rest slot with value of a at x-parent callsite:
                  {{.a}}
                {{end}}
              {{end}}
            </child>
          {{end}}
        {{end}}
      </parent>
    {{end}}
  {{end}}
</noscript>

<noscript name="nested/test-nested/compiled:<x-child>">
  <child>
    slot a of parent inside child:
    {{.slots.a}}
  </child>
</noscript>

<noscript name="nested/test-nested/compiled:[assets]<x-child>">
  
</noscript>

<noscript name="nested/test-nested/compiled:<x-parent>">
  <parent>
    {{with $dot := .}}
      {{with (dict "caller" "<x-parent>" "slots" (list (dict "name" "a")))}}
        <child>
          slot a of parent inside child:
          {{with $dot}}
            rest slot from callsite in parent:
            {{.slots.rest}}
          {{end}}
        </child>
      {{end}}
    {{end}}
  </parent>
</noscript>

<noscript name="nested/test-nested/compiled:[assets]<x-parent>">
  
</noscript>

<noscript name="nested/test-nested/executed">
  
    
      <parent>
        
          
            <child>
              slot a of parent inside child:
              
                rest slot from callsite in parent:
                
                  rest slot with value of a at x-parent callsite:
                  
                
              
            </child>
          
        
      </parent>
    
  
</noscript>
