{{ define "<x-component>" }}
  <template component="true" .class #id ...{{ .foo .bar }}>
    with component=true the component tag stays wrapped after inlining.
    Directives applied to the template get applied to the wrapper.
    The `...` directive allows forwarding parameters.
    <div ...{{ .foo .bar .baz .a }}/>
  </template>

  <script>
  customElements.define("x-component", class extends HTMLElement {
    connectedCallback() {
     // ...
    }
  })
  </script>
{{ end }}

{{ define "test-x-component"  }}
  <x-component foo="foo-value" bar="bar-value"
               baz="baz-value" bam="bam-value"
               a="with parent dot {{ .a }}">
  </x-component>
{{ end }}
